@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #1A4862;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: #D7DFA3;
}

html {
  scroll-behavior: smooth;
}


@keyframes scroll-x {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-track {
  animation: scroll-x 10s linear infinite;
}